// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for LS1028A QDS board, serdes 9999
 *
 * Copyright 2019 NXP
 *
 */

&mdio_slot1 {
	/* two ports on AQR412 */
	slot1_sxgmii2: ethernet-phy@2 {
		reg = <0x2>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
	slot1_sxgmii3: ethernet-phy@3 {
		reg = <0x3>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
};

&mdio_slot2 {
	slot2_sxgmii0: ethernet-phy@2 {
		/* AQR112 */
		reg = <0x2>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
};

&mdio_slot3 {
	slot3_sxgmii0: ethernet-phy@2 {
		/* AQR112 */
		reg = <0x2>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
};

/* l2switch ports */
&switch_port0 {
	phy-handle = <&slot1_sxgmii2>;
	phy-connection-type = "2500base-x";
};

&switch_port1 {
	phy-handle = <&slot2_sxgmii0>;
	phy-connection-type = "2500base-x";
};

&switch_port2 {
	phy-handle = <&slot3_sxgmii0>;
	phy-connection-type = "2500base-x";
};

&switch_port3 {
	phy-handle = <&slot1_sxgmii3>;
	phy-connection-type = "2500base-x";
};
