// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for LS1028A QDS board, serdes x5xx
 *
 * Copyright 2019 NXP
 *
 */

&mdio_slot2 {
	/* 4 ports on VSC8514 */
	slot2_qsgmii0: ethernet-phy@8 {
		reg = <0x8>;
	};
	slot2_qsgmii1: ethernet-phy@9 {
		reg = <0x9>;
	};
	slot2_qsgmii2: ethernet-phy@a {
		reg = <0xa>;
	};
	slot2_qsgmii3: ethernet-phy@b {
		reg = <0xb>;
	};
};

/* l2switch ports */
&switch_port0 {
	phy-handle = <&slot2_qsgmii0>;
	phy-connection-type = "qsgmii";
};

&switch_port1 {
	phy-handle = <&slot2_qsgmii1>;
	phy-connection-type = "qsgmii";
};

&switch_port2 {
	phy-handle = <&slot2_qsgmii2>;
	phy-connection-type = "qsgmii";
};

&switch_port3 {
	phy-handle = <&slot2_qsgmii3>;
	phy-connection-type = "qsgmii";
};
