// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for LS1028A QDS board, serdes x3xx
 *
 * Copyright 2019 NXP
 *
 */

&mdio_slot2 {
	/* 4 ports on AQR412 */
	slot2_qsgmii0: ethernet-phy@0 {
		reg = <0x0>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
	slot2_qsgmii1: ethernet-phy@1 {
		reg = <0x1>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
	slot2_qsgmii2: ethernet-phy@2 {
		reg = <0x2>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
	slot2_qsgmii3: ethernet-phy@3 {
		reg = <0x3>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
};

/* l2switch ports */
&switch_port0 {
	phy-handle = <&slot2_qsgmii0>;
	phy-connection-type = "usxgmii";
};

&switch_port1 {
	phy-handle = <&slot2_qsgmii1>;
	phy-connection-type = "usxgmii";
};

&switch_port2 {
	phy-handle = <&slot2_qsgmii2>;
	phy-connection-type = "usxgmii";
};

&switch_port3 {
	phy-handle = <&slot2_qsgmii3>;
	phy-connection-type = "usxgmii";
};
