# SPDX-License-Identifier: GPL-2.0
#
# PCI Endpoint Functions
#

config PCI_EPF_TEST
	tristate "PCI Endpoint Test driver"
	depends on PCI_ENDPOINT
	select CRC32
	help
	   Enable this configuration option to enable the test driver
	   for PCI Endpoint.

	   If in doubt, say "N" to disable Endpoint test driver.

config IMX_MIC_EPF
	tristate "i.MX MIC Endpoint driver"
	depends on PCI_ENDPOINT && IMX_MIC_CARD
	help
	   Enable this configuration option to enable endpoint driver
	   for i.MX MIC.
