config DRM_CDNS_MHDP
	tristate "Cadence MHDP COMMON API driver"
	select DRM_KMS_HELPER
	select DRM_PANEL_BRIDGE
	depends on OF
	help
	  Support Cadence MHDP API library.

config DRM_CDNS_HDMI
	tristate "Cadence HDMI DRM driver"

config DRM_CDNS_DP
	tristate "Cadence DP DRM driver"
