# SPDX-License-Identifier: GPL-2.0

menu "Mobiveil PCIe Core Support"
	depends on PCI

config PCIE_MOBIVEIL
	bool

config PCIE_MOBIVEIL_HOST
        bool
	depends on PCI_MSI_IRQ_DOMAIN
        select PCIE_MOBIVEIL

config PCIE_MOBIVEIL_EP
	bool
	depends on PCI_ENDPOINT
	select PCIE_MOBIVEIL

config PCIE_MOBIVEIL_PLAT
	bool "Mobiveil AXI PCIe controller"
	depends on ARCH_ZYNQMP || COMPILE_TEST
	depends on OF
	select PCIE_MOBIVEIL_HOST
	help
	  Say Y here if you want to enable support for the Mobiveil AXI PCIe
	  Soft IP. It has up to 8 outbound and inbound windows
	  for address translation and it is a PCIe Gen4 IP.

config PCIE_LAYERSCAPE_GEN4
	bool "Freescale Layerscpe PCIe Gen4 controller in RC mode"
	depends on PCI
	depends on OF && (ARM64 || ARCH_LAYERSCAPE)
	depends on PCI_MSI_IRQ_DOMAIN
	select PCIE_MOBIVEIL_HOST
	help
	  Say Y here if you want PCIe Gen4 controller support on
	  Layerscape SoCs. And the PCIe controller work in RC mode
	  by setting the RCW[HOST_AGT_PEX] to 0.

config PCIE_LAYERSCAPE_GEN4_EP
	bool "Freescale Layerscpe PCIe Gen4 controller in EP mode"
	depends on PCI
	depends on OF && (ARM64 || ARCH_LAYERSCAPE)
	depends on PCI_ENDPOINT
	select PCIE_MOBIVEIL_EP
	help
	  Say Y here if you want PCIe Gen4 controller support on
	  Layerscape SoCs. And the PCIe controller work in EP mode
	  by setting the RCW[HOST_AGT_PEX] to 1.
endmenu
