config DRM_IMX_DCSS
	tristate "i.MX8MQ DCSS"
	depends on DRM_IMX
	select RESET_CONTROLLER
	select IMX_IRQSTEER
	default y if DRM_IMX=y
	default m if DRM_IMX=m
	help
	  Choose this if you have a NXP i.MX8MQ based system and want to use the
	  Display Controller Subsystem. This option enables DCSS support.
